body {
  color: black;
  background-color: lightgreen;
  font-family:"courier", courier;
  font-size: 18pt;
}

h1{
  color: darkgreen;
  font-family:"chalkboard", chalkboard;
  font-size: 30pt;
  line-height: 1;

}
h2{
  color: black;
  font-family:"courier", courier;
  font-size: 12pt;
  line-height: 1;
}
h3{
  color: black;
  font-family:"courier", courier;
  font-size: 12pt;
  line-height: 1;
}
h4{
  color: black;
  font-family:"courier", courier;
  font-size: 12pt;
  line-height: 1;
}
h5{
  color: black;
  font-family:"courier", courier;
  font-size: 12pt;
  line-height: 1;
}
img{
  padding: 10px
}
h6{
  color: black;
  font-family:"google fonts", monospace;
  font-size: 18pt;
  line-height: 1;
}
a{
  color: blue;
}
.smaller{
  font-size: 12pt;
  line-height: 1;
}
